<section class="sticky top-0 z-10 bg-white sm:pt-2 pb-2">
  <%= form_with class: "flex justify-between flex-col sm:flex-row gap-2 sm:gap-4", model: new_quest, url: quests_path do |form| %>
    <%= form.text_field :title, placeholder: "Enter quest title", class: "input w-full" %>
    <%= form.submit "Create Quest", class: "btn btn-primary" %>
  <% end %>
</section>